*{
    box-sizing: border-box;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cuerpo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination {
    margin-top: 20px;
}

h1{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 30px;
}

h2{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
}

h6{
    font-family: 'Barlow Condensed', sans-serif;
}

h5{
    font-family: 'Barlow Condensed', sans-serif;
}

h4{
    font-family: 'Barlow Condensed', 'sans-serif';
    font-size: 20px;
}

input{
    font-family: 'Montserrat', sans-serif;
}

/*estilos del footer*/
.footer {
    width: 100%;
    height: 65vh;
    background-color: black;
}

div figure img {
    width: 25%;
}

footer div a {
    font-size: 15px;
    color: white;
}

.cartaFooter {
    border: 0px;
}

.redes {
    padding-top: 20px;
}

.logo {
    margin-bottom: 10px;
}

@media (min-width: 768px ){
    .footer {
        height: 180px;
    }

    .contacto {
        margin-top: 10px;
    }

    .logo {
        margin-top: 10px;
    }



}
/* MEDIA QUERY 768 */

@media (min-width: 1024px ){
    h4{
        font-size: 30px;
    }

    .contacto {
        margin-top: 0px;
    }
}

@media (min-width: 1080px) {

    .footer {
        height: 25vh;
    }

    h1{
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 40px;
    }
    
    h2{
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 30px;
    }



}



@media (min-width: 1440px) {

    *{
        box-sizing: border-box;
    }
    
    main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .cuerpo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .pagination {
        margin-top: 20px;
    }
    
    h1{
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 40px;
    }
    
    h2{
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 30px;
    }
 
    h6{
        font-family: 'Barlow Condensed', sans-serif;
    }
    
    h5{
        font-family: 'Barlow Condensed', sans-serif;
    }
    
    h4{
        font-family: 'Barlow Condensed', 'sans-serif';
        font-size: 30px;
    }
    
    input{
        font-family: 'Montserrat', sans-serif;
    }
    
    /*estilos del footer*/
    .footer {
        width: 100%;
        height: 25vh;
        background-color: black;
    }
    
    div figure img {
        width: 25%;
    }
    
    footer div a {
        font-size: 15px;
        color: white;
    }
    
    .cartaFooter {
        border: 0px;
    }
    
    .redes {
        padding-top: 20px;
    }
    
    .logo {
        margin-bottom: 10px;
    }

}