/*-----responsive en base a 320px-----*/

* {
    box-sizing: border-box;

}

/*tipografias*/
body {
    font-family: 'Montserrat', sans-serif;
}

h6, h5 {
    font-family: 'Barlow Condensed', sans-serif;
}

h5 {
    font-size: 25px;
}

h4 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 15px;
}

h6 {
    font-size: 20px;
}


div a {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 15px;
}

/*contenedor padre*/
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

/*navbar*/
header {
    width: 100%;
    height: 12vh;
    background-color: white;
}

/*seccion perteneciente al producto*/

.cuerpo {
    width: 100%;
    height: 200vh;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.titulo {
    width: 100%;
    height: 7vh;
    background-color: #000000;
    border-radius: 10px;
    text-align: center;
    color: #FF6000;
    padding-top: 2px;
    
}

.fotoProducto {
    margin: 40px;

}

.bici {
    width: 100%;
    padding: 20px;
    text-align: center;
}


.miSeleccion {
    font-size: 11px;
    border-radius: 10px;
    margin-top: 0px;
    position: relative;

}

/*.cuadro {
    border: 1px solid black;
    border-radius: 10px;
}

.ruedas {
    border: 1px solid black;
    border-radius: 10px;
}

.equipamiento {
    border: 1px solid black;
    border-radius: 10px;
}*/

/*ancho de los detalles del producto*/

.carta {
    width: 50%;
    margin-top: 10px;

}

/*estilos del footer*/
.footer {
    width: 100%;
    height: 70vh;
    background-color: black;
    margin-top: 200px;
}

div figure img {
    width: 25%;
}

footer div a {
    color: white;
}

.cartaFooter {
    border: 0px
}

.redes {
    padding-top: 20px;
}

.logo {
    margin-bottom: 10px;
}

@media (min-width: 360px) {

    .cuerpo {
        height: 220vh;
    }


}


@media (min-width: 414px) {

    .cuerpo {
        height: 180vh;
    }


}

@media (min-width: 768px) {

    /*tipografias*/
   
    h5 {
        font-size: 40px;
    }
    
    h6 {
        font-size: 20px;
    }

    h4 {
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 20px;
    }
    
    
    div a {
        font-size: 20px;
    }
    
    /*seccion perteneciente al producto*/
    
    .cuerpo {
        width: 100%;
        height: 120vh;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .titulo {
        padding-top: 5px;
        
    }
    
    .fotoProducto {
        margin-left: 0px;
        margin-top: 0px;
    }
    
    .miSeleccion {
        font-size: 11px;
        margin-top: 0px;
        border-radius: 10px;
    
    }
    
    /*estilos del footer*/
    .footer {
        height: 15vh;
    }
    
    div figure img {
        width: 30%;
    }

    .contacto {
        padding-top: 10px;
    }
    
}

@media (min-width: 1024px) {

    /*tipografias*/
   
    h5 {
        font-size: 50px;
    }
    
    h6 {
        font-size: 30px;
    }

    h4 {
        font-size: 25px;
    }
    
    
    div a {
        font-size: 20px;
    }
    
    /*seccion perteneciente al producto*/
    
    .cuerpo {
        width: 100%;
        height: 80vh;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .titulo {
        padding-top: 7px;
        
    }
     
    .miSeleccion {
        font-size: 11px;
        margin-top: 40px;
        border-radius: 10px;
    
    }
    
    /*estilos del footer*/
    .footer {
        height: 15vh;
    }
    
    div figure img {
        width: 30%;
    }

    .contacto {
        padding-top: 10px;
    }

    .redes {
        padding-top: 30px;
    }

}

@media (min-width: 1080px){
    body {
        font-family: 'Montserrat', sans-serif;
    }
    
    h6, h5 {
        font-family: 'Barlow Condensed', sans-serif;
    }
    
    h5 {
        font-size: 30px;
    }
    
    h6 {
        font-size: 30px;
    }
    
    
    div a {
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 20px;
    }
    
    /*contenedor padre*/
    main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    
    /*navbar*/
    header {
        width: 100%;
        height: 12vh;
        background-color: white;
    }
    
    /*seccion perteneciente al producto*/
    
    .cuerpo {
        width: 100%;
        height: 200vh;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .titulo {
        width: 100%;
        height: 7vh;
        background-color: #000000;
        border-radius: 10px;
        text-align: center;
        color: #FF6000;
        padding-top: 2px;
        
    }
    
    .fotoProducto {
        margin-top: 40px;
    }
    
    .bici {
        width: 100%;
        padding: 20px;
        text-align: center;
    }
    
    
    .miSeleccion {
        font-size: 11px;
        margin-top: 40px;
        border-radius: 10px;
    
    }
      
    /*estilos del footer*/
    .footer {
        width: 100%;
        height: 24vh;
        background-color: black;
        margin-top: 100px;
    }
    
    div figure img {
        width: 25%;
    }
    
    footer div a {
        color: white;
    }
    
    .cartaFooter {
        border: 0px
    }
    
    .redes {
        padding-top: 20px;
    }
    
    .logo {
        margin-bottom: 10px;
    }
}

@media (min-width: 1440px) {

    /*tipografias*/
   
    h5 {
        font-size: 50px;
    }
    
    h6 {
        font-size: 30px;
    }
    
    
    div a {
        font-size: 20px;
    }
    
    /*seccion perteneciente al producto*/
    
    .cuerpo {
        width: 100%;
        height: 130vh;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .titulo {
        padding-top: 2px;
        
    }
    
    .fotoProducto {
        margin-left: 0px;
    }
    
    .miSeleccion {
        font-size: 11px;
        margin-top: 40px;
        border-radius: 10px;
    
    }
    
    /*estilos del footer*/
    .footer {
        height: 25vh;
    }
    
    div figure img {
        width: 30%;
    }

    .contacto {
        padding-top: 10px;
    }

    .redes {
        padding-top: 30px;
    }

}
