
/* arranca por el dispositivo mas pequeño, 320px de width  - mobile first*/

* {
    box-sizing: border-box;
    

}

/*tipografias*/

body {
    font-family: 'Montserrat', sans-serif;
}

h6, h5 {
    font-family: 'Barlow Condensed', sans-serif;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 20px;
}

h4 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 15px;
}

p {
    font-size: 14px;
}

div a {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
}

/*contenedor padre*/
main {
    display: flex;
    flex-wrap: wrap;
    /*max-width: 100%;
    max-height: 100vh;*/
    flex-direction: row;
    justify-content: center;
}

/*navbar*/
header {
    min-width: 100%;
    min-height: 15vh;
    background-color: white;
}

/*seccion perteneciente al producto*/

.cuerpo {
    width: 100%;
    height: 200vh;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.titulo {
    width: 100%;
    height: 7vh;
    background-color: #000000;
    border-radius: 10px;
    text-align: center;
    color: #FF6000;
    padding-top: 2px;
    
}

.fotoProducto { 
    margin-top: 0px;
}

.bici {
    width: 100%;
    padding: 10px;
    text-align: center;
}


.miSeleccion {
    font-size: 11px;
    padding: 7px;
    margin-top: -5px;
}

/*ancho de los detalles del producto*/

.carta {
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;

}

/*estilos del footer*/

.footer {
    width: 100%;
    height: 65vh;
    background-color: black;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

div figure img {
    width: 25%;
}

footer div a {
    color: white;
}

.cartaFooter {
    border: 0px;
    font-size: 14px;
}

.contacto {
    margin-top: 10px;
}

.redes {
    margin: 0px;
}

.logo {
    margin: 0px;
}

@media (min-width: 360px) {
    * {
        box-sizing: border-box;
    
    }
    
    /*tipografias*/
    
    body {
        font-family: 'Montserrat', sans-serif;
    }
    
    h6, h5 {
        font-family: 'Barlow Condensed', sans-serif;
    }
    
    h5 {
        font-size: 25px;
    }
    
    h6 {
        font-size: 20px;
    }

    h4 {
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 15px;
    }
    
    p {
        font-size: 14px;
    }
    
    div a {
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 20px;
    }
    
    /*contenedor padre*/
    main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    
    /*navbar*/
    header {
        min-width: 100%;
        min-height: 15vh;
        background-color: white;
    }
    
    /*seccion perteneciente al producto*/
    
    .cuerpo {
        width: 100%;
        height: 170vh;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    
    .titulo {
        width: 100%;
        height: 7vh;
        background-color: #000000;
        border-radius: 10px;
        text-align: center;
        color: #FF6000;
        padding-top: 2px;
        
    }

    .bici {
        width: 100%;
        padding: 10px;
        text-align: center;
    }
    
    
    .miSeleccion {
        font-size: 11px;
        padding: 7px;
        margin-top: 0px;
    
    }
    
    /*estilos del footer*/
    
    .footer {
        width: 100%;
        height: 65vh;
        background-color: black;
        margin-top: 10px;
    }
    
    div figure img {
        width: 25%;
    }
    
    footer div a {
        color: white;
    }
    
    .cartaFooter {
        border: 0px;
        font-size: 14px;
    }
    
    .contacto {
        margin-top: 10px;
    }
    
    .redes {
        margin: 0px;
    }
    
    .logo {
        margin: 0px;
    }

}

@media (min-width: 375px) {
    * {
        box-sizing: border-box;
    
    }
    
    /*tipografias*/
    
    body {
        font-family: 'Montserrat', sans-serif;
    }
    
    h6, h5 {
        font-family: 'Barlow Condensed', sans-serif;
    }
    
    h5 {
        font-size: 30px;
    }
        
    /*seccion perteneciente al producto*/
    
    .cuerpo {
        height: 170vh;
        
    }

    .fotoProducto {
        margin-top: 10px;
    }
    
    .miSeleccion {
        height: 18vh;
    }   
    /*estilos del footer*/
    
    .footer {
        height: 55vh;
        margin-top: 10px;
    }

    .contacto {
        margin-top: 10px;
    }


}

@media (min-width: 411px) {
    * {
        box-sizing: border-box;
    
    }
    
    /*tipografias*/
    
    body {
        font-family: 'Montserrat', sans-serif;
    }
    
    h6, h5 {
        font-family: 'Barlow Condensed', sans-serif;
    }
    
    h5 {
        font-size: 30px;
    }
    
    h6 {
        font-size: 20px;
    }
    
    p {
        font-size: 14px;
    }
    
    div a {
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 20px;
    }
    
    /*contenedor padre*/
    main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    
    /*navbar*/
    header {
        min-width: 100%;
        min-height: 15vh;
        background-color: white;
    }
    
    /*seccion perteneciente al producto*/
    
    .cuerpo {
        width: 100%;
        height: 160vh;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    
    .titulo {
        width: 100%;
        height: 7vh;
        background-color: #000000;
        border-radius: 10px;
        text-align: center;
        color: #FF6000;
        padding-top: 2px;
        
    }
    
    .fotoProducto {
        margin-top: 10px;
    }

    .bici {
        width: 100%;
        padding: 10px;
        text-align: center;
    }
    
    
    .miSeleccion {
        font-size: 11px;
        padding: 7px;
        margin-top: 0px;
    
    }
    
    /*estilos del footer*/
    
    .footer {
        width: 100%;
        height: 65vh;
        background-color: black;
        margin-top: 10px;
    }
    
    div figure img {
        width: 25%;
    }
    
    footer div a {
        color: white;
    }
    
    .cartaFooter {
        border: 0px;
        font-size: 14px;
    }
    
    .contacto {
        margin-top: 10px;
    }
    
    .redes {
        margin: 0px;
    }
    
    .logo {
        margin: 0px;
    }

}

@media (min-width: 414px) {

    * {
        box-sizing: border-box;
    
    }
    
    /*tipografias*/
    
    body {
        font-family: 'Montserrat', sans-serif;
    }
    
    h6, h5 {
        font-family: 'Barlow Condensed', sans-serif;
    }
    
    h5 {
        font-size: 30px;
    }
    
    h6 {
        font-size: 20px;
    }
    
    p {
        font-size: 14px;
    }
    
    div a {
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 20px;
    }
    
    /*contenedor padre*/
    main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    
    /*navbar*/
    header {
        min-width: 100%;
        min-height: 15vh;
        background-color: white;
    }
    
    /*seccion perteneciente al producto*/
    
    .cuerpo {
        width: 100%;
        height: 160vh;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    
    .titulo {
        width: 100%;
        height: 7vh;
        background-color: #000000;
        border-radius: 10px;
        text-align: center;
        color: #FF6000;
        padding-top: 2px;
        
    }
      
    .bici {
        width: 100%;
        padding: 10px;
        text-align: center;
    }
    
    
    .miSeleccion {
        font-size: 11px;
        margin-top: 0px;
    
    }
    
    /*ancho de los detalles del producto*/
    
    .carta {
        margin-left: 0px;
        margin-top: 0px;
    
    }
    
    /*estilos del footer*/
    
    .footer {
        width: 100%;
        height: 65vh;
        background-color: black;
        margin-top: 10px;
    }
    
    div figure img {
        width: 25%;
    }
    
    footer div a {
        color: white;
    }
    
    .cartaFooter {
        border: 0px;
        font-size: 14px;
    }
    
    .contacto {
        margin-top: 10px;
    }
    
    .redes {
        margin: 0px;
    }
    
    .logo {
        margin: 0px;
    }
}
  
@media (min-width: 768px) {

     /*tipografias*/
  
    h5 {
        font-size: 40px;
    }
    
    h6 {
        font-size: 25px;
    }

    h4 {
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 20px;
    }
    
    p {
        font-size: 20px;
    }
    
    div a {
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 20px;
    }
    
    /*contenedor padre*/
    
    /*navbar*/
    header {
        min-height: 12vh;
    }
    
    /*seccion perteneciente al producto*/
    
    .cuerpo {
        width: 100%;
        height: 110vh;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .fotoProducto {
        margin-top: 40px;
    }
        
    .miSeleccion {
        margin-left: 20px;
        margin-top: 40px;
    }
    
    /*ancho de los detalles del producto*/
    
    .carta {
        margin-top: 10px;
    
    }
    
    /*estilos del footer*/
    .footer {
        width: 100%;
        height: 15vh;
        background-color: black;
        margin-top: 40px;
    }
    
    div figure img {
        width: 30%;
    }
    
    footer div a {
        color: white;
    }
    
    .cartaFooter {
        border: 0px;
        font-size: 14px;
    }
    
    .contacto {
        margin-top: 5px;
    }

    .redes {
        margin-top: 5px;
        padding-top: 10px;
    }
    
    .logo {
        margin-top: 5px;
    }

}

@media (min-width: 993px) {
    .cuerpo {
        height: 110vh;
    }

}

@media (min-width: 1024px) {

    /*tipografias*/
  
    h5 {
        font-size: 50px;
    }

    h4 {
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 25px;
    }
    
    p {
        font-size: 25px;
    }

    /*navbar*/
    header {
        min-height: 10vh;
    }
    
    /*seccion perteneciente al producto*/

    .cuerpo {
        height: 100vh;
    }
    
    .fotoProducto {
        margin-top: 10px;
    }
        
    .miSeleccion {
        margin-top: 10px;
    }
    
    /*ancho de los detalles del producto*/
    
    .carta {
        margin-top: 0px;
    }
    
    /*estilos del footer*/
    .footer {
        width: 100%;
        height: 12vh;
        margin-top: 20px;
    }
    
    .cartaFooter {
        border: 0px;
        font-size: 14px;
    }
    
    .contacto {
        margin-top: 5px;
    }

    .redes {
        margin-top: 5px;
        padding-top: 10px;
    }
    
    .logo {
        margin-top: 5px;
    }
}

@media (min-width: 1080px) {

    h5 {
        font-size: 30px;
    }
    
    h6 {
        font-size: 30px;
    }
    
    
    div a {
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    /*contenedor padre*/
    main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    
    /*navbar*/
    header {
        width: 100%;
        height: 12vh;
        background-color: white;
    }
    
    /*seccion perteneciente al producto*/
    
    .cuerpo {
        width: 100%;
        height: 165vh;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .titulo {
        width: 100%;
        height: 7vh;
        background-color: #000000;
        border-radius: 10px;
        text-align: center;
        color: #FF6000;
        padding-top: 2px;
        
    }
    
    .fotoProducto {
        margin: 40px;
    }
    
    .bici {
        width: 100%;
        padding: 20px;
        text-align: center;
    }
    
    
    .miSeleccion {
        font-size: 11px;
        padding: 7px;
        margin-top: 40px;
    
    }
    
    /*ancho de los detalles del producto*/
    
    .carta {
        margin-left: 40px;
    
    }
    
    /*estilos del footer*/
    .footer {
        width: 100%;
        height: 24vh;
        background-color: black;
        margin-top: 100px;
    }
    
    div figure img {
        width: 25%;
    }
    
    footer div a {
        color: white;
    }
    
    .cartaFooter {
        border: 0px
    }
    
    .redes {
        padding-top: 20px;
    }
    
    .logo {
        margin-bottom: 10px;
    }

}

@media (min-width: 1440px) {

    /*tipografias*/
  
    h5 {
        font-size: 35px;
    }
    
    p {
        font-size: 20px;
    }

    /*navbar*/
    header {
        min-height: 10vh;
    }
    
    /*seccion perteneciente al producto*/

    .cuerpo {
        height: 150vh;
    }
    
    .fotoProducto {
        margin-top: 20px;
    }
        
    .miSeleccion {
        margin-top: 20px;
    }
    
    /*ancho de los detalles del producto*/
    
    .carta {
        margin-top: 20px;
    }
    
    /*estilos del footer*/
    .footer {
        width: 100%;
        height: 20vh;
        margin-top: 70px;
    }
    
    .cartaFooter {
        border: 0px;
        font-size: 14px;
    }
    
    .contacto {
        margin-top: 5px;
    }

    .redes {
        margin-top: 5px;
        padding-top: 10px;
    }
    
    .logo {
        margin-top: 5px;
    }

}