header{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
}

h1{
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
}

h2{
    font-family: 'Barlow Condensed', sans-serif;
}

input{
    font-family: 'Montserrat', sans-serif;
}

.opciones{
    display: flex;
    justify-content: space-around;
}

@media (max-width: 480px){
    .opciones{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        text-align: center;
        min-height: 40vh;
    }

}