    <!--Footer-->
    <footer class="row footer position:static">
      
        <article class="contacto col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
  
          <div class="cartaFooter card text-center" style="background-color:black">
            <div class="card-body" style="background-color:black">
              <h4 class="card-title text-white pt-0">Contacto</h4>
              <button type="button" class="btn btn-primary" style="background-color: #FF6000 ; border: orangered" data-toggle="modal" data-target="#staticBackdrop"><ion-icon name="navigate-circle-outline"></ion-icon>
              </button>
              <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h7 class="modal-title" id="staticBackdropLabel">Contacto - Bykes</h7>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form  action="#" method="POST">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                          <label for="nombre">Nombre y apellido</label>
                          <input type="text" class="form-control" id="nombre">
                        </div>
                        <div class="form-group">
                          <label for="exampleFormControlTextarea1">Observaciones</label>
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-dark" style="background-color: black">Enviar la consulta</button>
                      </form> 
                      <br>
                      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1381.5628585945926!2d-58.44951009719536!3d-34.555359027021176!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb432f7eaebf5%3A0xb2db1f3d1218ef77!2sStarbucks!5e0!3m2!1ses!2sar!4v1592924492184!5m2!1ses!2sar" width="270" height="280" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                      <h6>info@bykes.com</h6>
                      <h6>+ 54 9 11 4564-0000</h6>
                      <h6>Av Del Libertador 6200, Belgrano, CABA - Argentina</h6>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-dark" style="background-color: #FF6000 ; border: orangered" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
  
        <article class="redes col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
  
          <div class="cartaFooter card text-center" style="background-color:black">
            <div class="card-body" style="background-color: black">
              <a href="https://www.instagram.com"><ion-icon name="logo-instagram"></ion-icon></a>
              <a href="https://www.facebook.com"><ion-icon name="logo-facebook"></ion-icon></a>
              <a href="https://twitter.com"><ion-icon name="logo-twitter"></ion-icon></a>
              <br>
              <a href="/quienesSomos" class="btn btn-primary" style="background-color: #FF6000 ; border: orangered"><ion-icon name="bicycle-outline"></ion-icon></a>
            </div>
          </div>
  
        </article>
  
        <article class="logo col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class="cartaFooter card text-center" style="background-color:black">
            <div class="card-body" style="background-color:black">
              <figure>
                <img src="/img/logofooter.PNG" alt="">
              </figure><a href="#" class="btn btn-primary" style="background-color: #FF6000 ; border: orangered"><ion-icon name="arrow-up-outline"></ion-icon></a>
            </div>
          </div>
        </article>
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
  
      </footer>