
  <header class="row header">
    <div class="fixed-top col-12">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="p-4 navbar-expand-md navbar-expand-lg navbar-dark col-12" style="background-color: black">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/quienesSomos">¿Quienes somos? <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/productos">Bicicletas <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/productos/custom">Customizar <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/contacto">Contacto <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </div>

      <nav class="navbar navbar-transparent bg-transparent">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <ion-icon name="menu-outline"></ion-icon>
        </button>
        <div>
          <% if(locals.user) { %> 
            <!--Aquí dispongo  el acceso sólo al o los usuarios administradores-->
            <% if(locals.user.category===9) { %>
                <a href="/administrador">
                  <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Administrar</button>
                </a>
            <%}%>

            <a href="/carrito/lista">
              <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><ion-icon name="cart-outline"></ion-icon></button>
            </a>

            <a href="/logout">
              <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Cerrar sesión<ion-icon name="log-out-outline"></ion-icon>
              </button>
            </a>

            <img src="/images/usuarios/<%=locals.user.image %>"    width = '30' style= 'border-radius: 100%;'alt="">

            <% } else { %>
          
           <a href="register">
             <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Log in</button>
           </a>

           <%}%> 
        </div>
      </nav>
    </div>

  </header>