<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/register.css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>Bykes - Make it yours</title>
</head>
<body>

    <main class="container">
      <!--navbar-->
      <%- include('../partials/headerBlanco.ejs') %>


      <!--Formularios-->
        <div class="formularios row">
              <form class="login col-6 col-sm-12 col-md-6 col-lg-g col-xl-6 col-12" action="/login" method="POST">                
                    
                <h2 class="border-bottom border-light border-solid">INICIAR SESIÓN</h2>
                <!--Muestra de errores del lado del Js-Front -->
                <div>
                  <ul class="text-danger p-0.8" style="font-weight: 800; background-color: rgba(0, 0, 0, 0.6); border-radius: 2px; color: red;"
                  id="errores">
                    
                  </ul>
                </div>
                
              
                <div class="form-group">
                        <br>
                        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email" name="email" value="<%= typeof old != 'undefined' ? old.email : '' %>">
                        <% if(typeof errors != 'undefined' && errors.email){%>
                          <span class="text-danger" style="font-weight: 800;" > <%= errors.email.msg %></span>
                          <%}%>
                </div>
                <div class="form-group">
                        <input type="password" class="form-control" placeholder="Contraseña" name="password">
                        <% if(typeof errors != 'undefined' && errors.password){%>
                          <span class="text-danger" style="font-weight: 800;" > <%= errors.password.msg %></span>
                          <%}%>
                </div>
                <div class="form-group form-check">
                        <input type="checkbox" name="recuerdame">
                        <label class="form-check-label">Recuerdame</label>
                </div>
                <button type="submit" class="btn btn-primary btn-dark" style="background-color: black;">Iniciar Sesión</button>
                <a href="/register" class="btn btn-primary btn-danger" style="background-color: #FF6000 ; border: orangered">Crear una cuenta</a>
                <br><br><br>
              </form>
        </div>


      </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="/js/login.js"></script>
</body>
</html>