<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mastercontacto.css">
    <title>Bykes - Make it yours - Contacto</title>
</head>
<body>
  <main class="container-fluid">
    <!--Navbar-->
    <%- include('../partials/headerNegro.ejs') %>
    
      

    <!--CONTACTO-->
    <section class="row container col-12">

        <article class="titulo d-flex justify-content-center border-bottom border-dark col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h5>Contacto - Bykes</h5>
        </article>

        

        <article class="formulario mt-3 d-flex justify-content-center col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <form  action="#" method="POST">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <small id="emailHelp" class="form-text text-muted">No compartiremos tu email con terceros</small>
                </div>
                <div class="form-group">
                  <label for="nombre">Nombre y apellido</label>
                  <input type="text" class="form-control" id="nombre">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Observaciones</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-dark" style="background-color: black">Enviar la consulta</button>
            </form>

        </article>

        <article class="mapa mt-3 d-flex justify-content-center col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1381.5628585945926!2d-58.44951009719536!3d-34.555359027021176!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb432f7eaebf5%3A0xb2db1f3d1218ef77!2sStarbucks!5e0!3m2!1ses!2sar!4v1592924492184!5m2!1ses!2sar" width="600" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                <h6>info@bykes.com</h6>
                <h6>+ 54 9 11 4564-0000</h6>
                <h6>Av Del Libertador 6200, Belgrano, CABA - Argentina</h6>
              </div>

        </article>
        


    </section>

    <%- include('../partials/footer.ejs') %>

  </main>
</body>
</html>